* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

body {
  font-size: 16px;
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

.ft14{
  font-size: 14px;
}
.tc{
  text-align: center;
}
.fl{
  float: left;
}
.mr5{
  margin-right: 5px;;
}
.ml5{
  margin-left: 5px;;
}
.mr10{
  margin-right: 10px;;
}
.ml10{
  margin-left: 10px;;
}
.mr15{
  margin-right: 15px;;
}
.ml15{
  margin-left: 15px;;
}
.mr20{
  margin-right: 20px;;
}
.ml20{
  margin-left: 20px;;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.w200{
  width: 200px;
}
.w300{
  width: 300px;
}
.w600{
  width: 600px;
}
.radius8{
  border-radius: 8px;
}
.radius10{
  border-radius: 10px;
}
.br{
  border-left: 1px solid #ccc;
}
.iconColor{
  color: #f45f04;
}
.container{
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 30px;
}

.left{
  left: 200px;
  -webkit-transition: left .1s ease-in-out;
  transition: left .1s ease-in-out;
}
.noLeft{
  left: 80px;
  -webkit-transition: left .1s ease-in-out;
  transition: left .1s ease-in-out;
}

.footer{
    text-align: center;
    padding: 15px 50px!important;
}

.content{
  width: auto;
  padding: 15px 15px 20px 15px;
  height: 100%;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ikd-page-header {
  color: #323232;
  margin-bottom: 20px;
}

.ikd-page-header .title {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.list-filter {
  position: relative;
  margin: 20px 0;
  background: #f8f8f8;
  padding: 20px 10px;
}

.filter .ant-form-item{
  margin-bottom: 10px;
}

.detail{
  line-height: 1.8;
}

.link{
    color:#f45f04;
    cursor: pointer;
}

.logoSmall{
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    width: 80px
}
.logo {
  float: left;
  width: 180px;
  line-height: 70px;
  height: 70px;
  position: relative;
  text-align: center;
  font-weight: 600;
}

.logo img {
  position: absolute;
  width: 110px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 14px;
}

.avatar {
  width: 80px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* table样式 */
table.ikd-input-table {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #eef1f5;
    text-align: center;
  }
  
  table.ikd-input-table th, table.ikd-input-table td {
    border: 1px solid #eef1f5;
    padding: 0 10px;
  }
  
  table.ikd-input-table thead {
    height: 36px;
    background-color: #e8e8e8;
  }
  
  table.ikd-input-table thead th {
    height: 36px;
    color: #333;
    font-size: 14px;
  }

  table.ikd-input-table thead th.active {
    color: white;
    background-color: #bebebe;
  }
  
  table.ikd-input-table tbody tr {
    background-color: white;
  }
  
  table.ikd-input-table tbody tr:nth-child(2n) {
    background-color: #f7fbfe;
  }