.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
  color: #999999;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user-name {
    font-size: 16px;
    color: #333;
    padding-right: 20px;
  }
  .logo {
    float: left;
    width: 180px;
    line-height: 70px;
    height: 70px;
    position: relative;
    img {
      position: absolute;
      width: 110px;
      height: 40px;
      top: 50%;
      margin-top: -20px;
      left: 20px;
    }
  }
}

/*  */
.content-head {
  background: #fff;
  color: #666;
  .seller{
    .icon {
      float: left;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background-size: cover;
      margin-right: 12px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .seller-content {
      margin-left: 60px;
      font-size: 16px;
      line-height: 20px;
      .address {
        font-size: 14px;
        color: #666666;
        line-height: 25px;
        margin-top: 12px;
      }
    }
  }
  .price {
    color: #FF0000;
    font-size: 20px;
  }
  .label{
    margin-top: 10px;
  }
}
